* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
} 